<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day1_8_evalBug</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="a">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="b">
        <input type="button" value="=" @click="cal">
        <input type="text" :value="result">
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                a: null,
                b: null,
                result: null,
                opt: '+',
                secret: "This is the secret."
            },
            methods: {
                cal() {
                    var str = "this.result=" + this.a + this.opt + this.b
                    eval(str)
                }
            }
        })
    </script>
</body>
</html>