<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        <!-- 在遍历对象身上的键值对时 v-for="(val，key，索引) in B" 依次为内容 键值名 索引序号 -->
        <p v-for="(val, key, i) in user">{{val}}---{{key}}---{{i}}</p>
    </div>
    <script>
        var vm =new Vue({
            el:"#app",
            data:{
                user:{
                    id:1,
                    name:'Tony',
                    gender:'male'
                }
            }
        })
    </script>
</body>
</html>